
:root{
    font-family:system-ui,-apple-system,Segoe UI,Roboto,"Helvetica Neue",Arial;
}

body{
    max-width:1100px;
    margin:28px auto;
    padding:18px;
    background:#ebfc53;
    color:#111;
}

.container { 
    max-width: 500px;
    margin: auto;
    background:#f9f9f9;
    padding:20px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

form{
    display:grid;
    grid-template-columns:1fr;
    gap:14px;
    margin-bottom:18px;
}

label{
    font-size:0.9rem;
    margin-bottom:3px;
    display:block;
}

input, textarea, select{
    width:100%;
    padding:10px;
    border:1px solid #d7d7df;
    border-radius:10px;
    box-sizing:border-box;
    background:#fff;
}

textarea{
    resize:vertical;
}

button{
    padding:10px;
    border-radius:10px;
    border:0;
    cursor:pointer;
    font-size:1rem;
}

.btn-insert { background:#007bff; color:#fff; }
.btn-update { background:#ff9800; color:#fff; }
.btn-clear { background:#555; color:#fff; }

.btn-edit { 
    background: rgb(6, 127, 6); 
    color: white; 
    cursor: pointer; 
    padding:6px 10px;
    border-radius:6px;
}
.btn-delete { 
    background: red;
    color: white; 
    cursor: pointer; 
    padding:6px 10px;
    border-radius:6px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th,td{
    padding:10px;
    border-bottom:1px solid #eef0f5;
    text-align:left;
}

th{
    background:#fbfbfe;
    font-weight:600;
    border-bottom:2px solid #ddd;
}

.small{
    font-size:0.85rem;
    color:#555;
}

@media (max-width:700px){
    form{
        grid-template-columns:1fr;
    }
}
